/*------------------------------------------------------------------
[Table of contents]

 - Global
 - Header
 - Section
 - Indents
 - Forms
 - Footer
 - Font size
 - About
 - Pricing
 - Blog
 - Calendar
 - Loader
 - Chosen

- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/

/* Global */
body {
	min-width: 305px;
	overflow-x: hidden;
}

header .row, header .row *{
	background-size: cover!important;
}

* {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 42px;
	line-height: 1.5;
}

h2 {
	font-size: 34px;
	line-height: 1.5;
}

h3 {
	font-size: 26px;
	line-height: 1.5;
}

h4 {
	font-size: 20px;
	line-height: 1.5;
}

h5 {
	font-size: 18px;
	line-height: 1.5;
}

h6 {
	font-size: 16px;
	line-height: 1.5;
}
a:focus{
	outline:none;
}

input[type="radio"].radio-style1 + span {
	display: none!important;
}

input[type=radio] {
	display: none!important;
}
.radio1 label:before {
	width: 18px;
	height: 18px;
}
label:before {
	content: "";
	display: inline-block;

	width: 18px;
	height: 18px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;

}
.radio label:before {
	border-radius: 100%;
}
input[type=radio]:checked + label:after{
	background-color: #f3f3f3;
	border-radius: 100%;
	content: "";
	height: 10px;
	left: 4px;
	position: absolute;
	top: 3px;
	width: 10px;
}

input[type=checkbox] {
	display: none;
}
.checkbox label {
	font-weight: bold;
	padding-left: 27px;
}

.checkbox label:before {
	width: 22px;
	height: 22px;
	font-weight: bold;
}

.checkbox label:before {
	border-radius: 4px;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	line-height: 20px;
}

.checkbox+.checkbox, .radio+.radio {
	margin-top: 0;
	margin-right: 20px;
}

.checkbox {
	margin-top: 0;
	margin-right: 20px;
}
.onlyMobileMenu{
	display: none;
}
#to-top{
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	padding: 15px;
	color: #fff;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.panel{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* Header */

.logotype {
	width: 222px;
	height: 37px;
	position: relative;
	float: left;
}

.logotype img, .logotype div{
	position: absolute;
	float: left;
}

.logotype div, .footer-logo .o-circle{
	height: 37px;
	width: 37px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.footerLogo:hover{
	text-decoration: none;
}
.m1170 {
	max-width: 1170px;
	margin: 0 auto;
}
.m1069 {
	max-width: 1069px;
	margin: 0 auto;
}
.help-title{
	font-size: 15px;
	margin: auto;
	max-width: 80%;
	padding-top: 30px;
}
.help-desc{
	margin: auto;
	max-width: 80%;
}

.h-first-row {
	line-height: 3.5em;
	font-size: 11px;
	font-weight: 600;
	padding-right: 20px;
}

.h-curr, .h-login {
	float: right;
}

.f-right {
	float: right;
}

.h-curr {
	padding-right: 0;
}

.h-a-login {
	padding-right: 15px;
}

.h-curr a{
	padding-left: 15px;
}

a.h-curr-active {
	font-weight: 700;
}

.h-second-row {
	margin: 2em 0;
	padding-right: 20px;
}
.h-menu li a{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.h-menu .navbar-main > li:not(.h-submit-listing) > a:focus,
.h-menu .navbar-main > li:not(.h-submit-listing) > a:hover,
.h-menu .navbar-main > li.open > a:focus,
.h-menu .navbar-main > li.open > a:hover,
.h-menu .navbar-main > li.open > a{
	background-color: transparent;
}
.h-menu .navbar-right li .dropdown-menu{
	left: 0;
	padding: 0;
	right: auto;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.h-menu .navbar-right li .dropdown-menu > li > a{
	padding: 12px 15px;
}
.h-menu .navbar-right li .dropdown-menu .divider{
	margin: 0;
}
.mobileMenuNav{
	cursor: pointer;
	float: right;
	font-size: 34px;
	margin: 0;
}
.close-menu{
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 26px;
	margin: 10px 25px 0 0;
}
.home-2-filter{
	margin: -340px auto 0;
}
.home-2-filter .make-reservation{
	background: none;
	margin: 0;
}
.home-2-filter .find-btn,
.home-2-filter .dropdown-btn-list{
	height: 58px;
	line-height: 58px;
}
li.h-submit-listing a{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

li.h-submit-listing a:hover{
	cursor: pointer;
}

.h-plus {
	font-size: 15px;
	font-weight: bold;
	padding-right: 3px;
}

.h-third-row {
	height: 250px;
	background: #000 url(../media/backgrounds/container-bg.jpg) center center no-repeat;
}

.h-page-name {
	text-align: center;
	top: 50%;
	margin-top: -1.5em;
	font-size: 34px;
	font-weight: 600;
}

.h250 {
	height: 250px;
}

.h570 {
	height: 570px;
}

.h-current-page {
	font-size: 13px;
	line-height: 3em;
	font-weight: 400;
}
/*end of header */

/* Section */

section {
	font-size: 13px;
	line-height: 2;
}

.s-row-line {
	height: 5px;
	background: url(../img/line.jpg) repeat-x;
}

.s-row-1 {
	margin: 60px 0;
}

.s-row-2 article, .s-row-3 article{
	margin-top: 60px;
	margin-bottom: 60px;
	float: left;
}

.s-row-2 .mainline-pad article {
	margin-top: 40px;
	margin-bottom: 30px;
}

.s-black-h h1, .s-black-h h2, .s-black-h h3, .s-black-h h4, .s-black-h h5, .s-black-h h6{
	font-weight: bold;
}

.s-caps-h h1, .s-caps-h h2, .s-caps-h h3, .s-caps-h h4, .s-caps-h h5, .s-caps-h h6 {
	font-weight: 600;
	text-transform: uppercase;
}

.s-light-h h1, .s-light-h h2, .s-light-h h3, .s-light-h h4, .s-light-h h5, .s-light-h h6 {
	font-weight: 300;
}

.faet-tooltip1:hover, .faet-tooltip2:hover {
	text-decoration: none;
}

.tooltip {
	font-size: 12px;
	font-weight: 300;
}

.underline {
	text-decoration: underline;
}

.dropcap:first-letter {
	float: left;
}

.big-text-dropcap:first-letter {
	font-weight: 900;
	font-size: 72px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

.rectangle-dropcap:first-letter {
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	padding: 2px 6px;
	margin-top: 9px;
	margin-right: 9px;
}

.round-dropcap:first-letter {
	font-weight: 700;
	font-size: 48px;
	line-height: 40px;
	padding: 7px 14px;
	margin-top: 9px;
	margin-right: 9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.square-dropcap:first-letter {
	font-weight: 700;
	font-size: 32px;
	line-height: 25px;
	padding: 7px 14px;
	margin-top: 9px;
	margin-right: 9px;
}

.blockquote1 {
	padding-left: 20px;
}

.blockquote-style1 {
	font-size: 25px;
	line-height: 35px;
	font-weight: 100;
}

.blockquote-style-2 {
	padding: 19px;
	margin-top: 60px;
}

.blockquote-style-2 .blockquote1 {
	padding: 25px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.seo-wisem {
	font-size: 13px;
}

.s-buttons-h .border {
	width: 170px;
	height: 52px;
	line-height: 48px;
	margin-right: 15px;
	margin-top: 15px;
	float: left;
	text-align: center;
}

.border1 {
	border-width: 1px;
	border-style: solid;
}

.border2 {
	border-width: 2px;
	border-style: solid;
}

.border3 {
	border-width: 3px;
	border-style: solid;
}

.button1-1 {
	width: 130px;
	height: 45px;
	line-height: 41px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	float: left;
}

.button1-2 {
	width: 170px;
	height: 50px;
	line-height: 46px;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	float: left;
}

.button1-3 {
	width: 200px;
	height: 55px;
	line-height: 51px;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	float: left;
}

.button1-4 {
	width: 230px;
	height: 60px;
	line-height: 56px;
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	float: left;
}

.button2-1 {
	width: 140px;
	height: 48px;
	line-height: 44px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	float: left;
}

.button2-2 {
	width: 180px;
	height: 54px;
	line-height: 50px;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	float: left;
}

.button2-3 {
	width: 210px;
	height: 62px;
	line-height: 58px;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	float: left;
}

.button2-4 {
	width: 240px;
	height: 70px;
	line-height: 66px;
	font-weight: 600;
	font-size: 26px;
	text-align: center;
	float: left;
}

.inf-msg {
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	font-weight: 600;
}

.normal-message {

}

.warning-message {

}

.information-message {

}

.success-message {

}

.useful-message {

}

.normal-message-2 {

}

.s-alert-messages i{
	font-size: 16px;
}
/* end of section */

/* Indents */
.vtop {
	vertical-align: top;
}
.vbottom {
	vertical-align: bottom;
}
.vcenter {
	vertical-align: center;
}

.padding0 {
	padding: 0!important;
}

.fa-angle-down {
	padding-left: 5px;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.f-slash {
	padding: 0 5px;
}

.universal-title {
	font-size: 30px;
	font-weight: 300;
}

.icon-ok-circle {
	font-size: 18px;
}

.list-styles li{
	list-style-type: none;
}
.top0, .top-menu .top0{
	margin-top: 0!important;
}
.p-top0{
	padding-top: 0!important;
}
.p-top30 {
	padding-top: 30px;
}
.p-top80 {
	padding-top: 80px;
}
.p-top5{
	padding-top: 5px;
}
.start0 {
	margin-left: -40px;
}
.bottom-40 {
	margin-bottom: -40px;
}
.bottom-60 {
	margin-bottom: -60px;
}
.top-bottom-7 {
	margin-top: 7%;
	margin-bottom: 7%;

}
.start20 {
	margin-left: -20px!important;
}

.p-left10 {
	padding-left: 10px!important;
}
.p-left15 {
	padding-left: 15px!important;
}
.p-left20 {
	padding-left: 20px;
}

.p-left30 {
	padding-left: 30px;
}

.p-left0 {
	padding-left: 0!important;
}

.left0 {
	margin-left: 0!important;
}

.left20 {
	margin-left: 20px;
}
.left15 {
	margin-left: 15px;
}
.right15 {
	margin-right: 15px;
}
.right20 {
	margin-right: 20px;
}

.right7 {
	margin-right: 7px;
}

.p-right20 {
	padding-right: 20px;
}
.p-right40 {
	padding-right: 40px;
}
.p-right70 {
	padding-right: 70px;
}

.p-right0 {
	padding-right: 0px!important;
}
.p-top10 {
	padding-top: 10px;
}
.p-top20 {
	padding-top: 20px;
}
.p-top40 {
	padding-top: 40px;
}
.p-bottom40 {
	padding-bottom: 40px;
}
.p-top60 {
	padding-top: 60px;
}
.p-bottom60 {
	padding-bottom: 60px;
}
.left-40 {
	margin-left: -40px;
}

.pl-15 {
	padding-left: 15px;
}
.pr-15 {
	padding-right: 15px;
}
.list-styles .fa {
	padding-right: 10px;
	font-size: 14px;
}

.list-styles li .blue-circle {
	font-size: 12px;
	padding: 2px 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-right: 10px;
}

.list-styles li .fa-circle {
	font-size: 10px;
}

.margin0 {
	margin-left: 0;
	margin-right: 0;
}
.padding20 {
	padding: 0 20px;
}
.left-15 {
	margin-left: -15px;
}
.right-15 {
	margin-right: -15px;
}
.top-10 {
	margin-top: -10px!important;
}
.top-20 {
	margin-top: -20px!important;
}
.top10  {
	margin-top: 10px;
}
.top15  {
	margin-top: 15px;
}
.top-60 {
	margin-top: -60px;
}
.top-70 {
	margin-top: -70px;
}.top-80 {
	margin-top: -80px;
}
.top-40 {
	margin-top: -40px!important;
}.top-50 {
	margin-top: -50px;
}.top20 {
	margin-top: 20px;
}
.top40 {
	margin-top: 40px;
}
.top80 {
	margin-top: 80px;
}
.top100 {
	margin-top: 100px;
}
.top30 {
	margin-top: 30px;
}
.top60 {
	margin-top: 60px;
}
.btm15{
	margin-bottom: 15px;
}
.right30 {
	margin-right: 30px;
}

.padding15 {
	padding: 0 15px!important;
}
.margin60 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.margin40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.margin10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.margin20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.b-radius3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.b-radius4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.b-radius5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.b-radius10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.button2-1 .fa-desktop {
	margin-right: 3px;
	font-size: 12px;
}

.button2-2 .fa-desktop {
	margin-right: 3px;
	font-size: 14px;
}
.button2-3 .fa-desktop {
	margin-right: 10px;
	font-size: 16px;
}
.button2-4 .fa-desktop {
	margin-right: 10px;
	font-size: 18px;
}

.inf-msg .icon_close_alt2, .inf-msg .icon_volume-high_alt, .inf-msg .icon_question_alt2, .inf-msg .icon_error-oct_alt, .inf-msg .icon_check_alt2, .inf-msg .icon_lightbulb_alt, .inf-msg .icon_lifesaver {
	font-size: 16px;
	line-height: 40px;
	padding: 0 10px;
}

.s-alert-messages a span:hover {
	font-weight: 900!important;
}


/* Forms */
.f-left {
	float: left;
}

.big-message {
	padding: 25px 15px 25px 15px;
}

.big-message h6 {
	line-height: 22px;
	font-weight: bold;
}

.big-message .fa {
	font-size: 30px;
	float: left;
	line-height: 81px;
	padding: 0 35px;
}

.form-header {
	font-size: 20px;
	font-weight: 900;
}

.el-form-1 , .el-form-2, .el-form-3, .el-form-4{
	margin-left: -15px;
	float: left;
}

.form-1-style1, .form-1-style2, .form-1-style3 {
	font-size: 13px;
	height: 50px;
	width: 100%;
	line-height: 48px;
	padding: 0 20px;
}

.form-1-style1:focus, .form-1-style2:focus, .form-1-style3:focus {
	outline: none;
}
.sign-login:before {
	content: "TEST";
}

textarea.form-1-style2 {
	height: 150px;
}

.submit-btn {
	border: none;
}

.submit-btn:hover {
	text-decoration: underline;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.form2-attach {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.form2-attach .fa-paperclip {
	padding: 0 4px 0 2px;
}
.width50 {
	width: 50%;
}
.width100 {
	width: 100%;
}
.height100 {
	height: 100%;
}
.height33 {
	height: 33.33333333%;
}
.width100px {
	width: 100px;
}
.mx-w420 {
	max-width: 420px;
}
.el-form-4 .sign-login, .el-form-4 .sign-password {
	width: calc(100% - 120px);
}
.button1-1:hover, .button1-2:hover, .button1-3:hover, .button1-4:hover, .button2-1:hover, .button2-2:hover, .button2-3:hover, .button2-4:hover {
	text-decoration: underline;
}

.el-form-3 .styled-checkbox, .el-form-3 .styled-checkbox label {

}

.styled-checkbox label {
	height: 22px;
	display: block;
	position: relative;
}

.styled-radio label {
	display: block;
	position: relative;
	line-height: 1;
}

input[type="checkbox"].checkbox-style5 + span, input[type="checkbox"].checkbox-style1 + span, input[type="checkbox"].checkbox-style2 + span, input[type="radio"].radio-style1 + span, input[type="radio"].radio-style2 + span, input[type="radio"].radio-style3 + span, input[type="radio"].radio-style4 + span {
	position: absolute;
	left: 0; 
	bottom: -1px;
	width: 100%; 
	height: 100%;
	cursor: pointer;
}

input[type="checkbox"]:checked + span, input[type="radio"]:checked + span {
	background-position: right;
}
.styled-radio .checkbox,
.styled-radio .radio{
	margin-top: 0;
}

.styled-checkbox, .styled-radio {
	display: inline-flex;
	margin-right: 20px;
}

.styled-checkbox label, .styled-radio label{
	margin-right: 15px;
	display: inline;
}

.styled-radio label {
	margin-top: 5px;
}

article.form-elements {
	padding-left: 20px;
}

.sign-login {
	background-image: url(../media/buttons/login-icon.png);
	background-repeat: no-repeat;
	background-position: top right 20px;
}

.sign-password {
	background-image: url(../media/buttons/pass-icon.png);
	background-repeat: no-repeat;
	background-position: top right 20px;
}

.el-form-3 .styled-checkbox, .el-form-4 .styled-checkbox {
	margin-top: 34px;
}

.dropdown-btn-list {
	font-size: 13px;
	line-height: 48px;
	height: 48px;
	padding: 0 66px 0 16px;
	width: 100%;
	text-align: left;
}

.newsletter {
	margin-top: 140px;
	padding: 30px 0;
}

.newsletter-bg {
	height: 100px;
}

.f-newsletter-l {
	height: min-100px;
	text-align: right;
	padding-right: 60px;
	font-size: 14px;
	margin-bottom: 15px;
}

.uppercase {
	text-transform: uppercase;
}

.newsletter-input {
	float: left;
	margin-top: 25px;
	width: 100%;
	max-width: 530px;
	display: inline-flex;
}

.newsletter-inpup-field {
	height: 50px;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border: none;

	padding: 0 15px;
}

.newsletter-inpup-field:focus {
	border: none;
	outline: none;
}

.newsletter-signup {
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border: none;
	height: 50px;
	text-align: center;
	font-weight: 600;
	width: 100px;
}

.newsletter-signup:hover {
	cursor: pointer;
	text-decoration: underline;
}

.checkbox-txt {
	padding-left: 15px;
	white-space: nowrap;
	float: left;
}

input[type="checkbox"].checkbox-style1 + span, input[type="checkbox"].checkbox-style2 + span, input[type="checkbox"].checkbox-style5 + span {
	width: 22px;
}

.styled-checkbox label:hover{
	cursor: pointer;
}


/* Footer */
.footer {
	min-height: 450px;

}

.footer2 {
	min-height: 110px;
}

.left-footer2 {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.right-footer2 {
	float: right;
	text-align: right;
}

.footer2 .m1170 {
	min-height: 110px;
	position: relative;
}

.footer-relative {
	position: absolute;
	width: 100%;
	top: 50%;
}

.right-footer2 img:hover {
	opacity: 0.5;
}

.f-second-row {
	padding-top: 20px;
}

.wordwrap {
	white-space: nowrap;
}

.footer .o-circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	float: left;
}

.footer-logo h5{
	line-height: 37px;
	padding-left: 50px;
	background: none;
	font-weight: 600;
}

.footer-td1-txt {
	font-size: 13px;
	line-height: 24px;
}

.footer .button1-1 {
	font-size: 12px;
	line-height: 38px;
	font-weight: 600;
	width: 96px;
	height: 38px;
}

.footer .button1-1:hover {
	cursor: pointer;
}

.footer ul li{
	line-height: 40px;
}

.footer .f-2td a:hover, .footer .f-2td i:hover{
	text-decoration: none;
	cursor: pointer;
}

.footer .f-3td {
	font-size: 13px;
	line-height: 24px;
}

.footer .f-3td td{
	line-height: 28px;
}

.footer .f-3td a{
	font-size: 10px;
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.extrabold {
	font-weight: 900;
}

.not-found-title {
	font-size: 36px;
	text-align: center;
}

.error-blue {
	font-size: 150px;
	line-height: 80px;
}

.error-orange {
	font-size: 100px;
	line-height: 80px;
}

.error404 {
	text-align: center;
	font-weight: 900;
}

.text-center {
	text-align: center!important;
}

/* Font size */
.font42 {
	font-size: 42px;
}
.font40 {
	font-size: 40px;
	line-height: 45px;
}
.font38 {
	font-size: 38px;
}
.font28 {
	font-size: 28px;
}
.font26 {
	font-size: 26px;
}
.font25 { font-size: 25px; }
.font24 {
	font-size: 24px;
}
.font22 {
	font-size: 22px;
}
.font20 {
	font-size: 20px;
}
.font18 {
	font-size: 18px;
}
.font17 {
	font-size: 17px;
}
.font16 {
	font-size: 16px;
}

.font14 {
	font-size: 14px;
}

.font13 {
	font-size: 13px;
}

.font12 {
	font-size: 12px;
}

.font11 {
	font-size: 11px;
}

.error404list a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
}

.main-content-404 .button-white {
	font-size: 12px;
	font-weight: bold;
	line-height: 41px;
	padding: 0 15px;
}

.search {
	display: inline-flex;
}

.search-input {
	height: 50px;
	line-height: 48px;
	border-right: none;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	padding-left: 15px;
}

.search-input:focus {
	outline: none;
}

.search-button {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 48px;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}

/* About */
.about-1 {
	line-height: 30px;
}

.about-1-pict img {
	width: 100%;
	height: auto;
}

.about-1-content-txt h5 {
	line-height: 0;
}

.w50 {
	width: 50%;
}
.light {
	font-weight: 300;
}
.semibold, .semibold .checkbox-txt {
	font-weight: 600;
}

.about-title {
	font-size: 20px;
	text-align: center;
}

.about-title span{
	padding: 0 30px;
}

.memb-photo {
	position: relative;
	overflow: hidden;
}

.memb-photo-hover {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.memb-photo1:hover .memb-photo-hover1, .memb-photo2:hover .memb-photo-hover2, .memb-photo3:hover .memb-photo-hover3, .memb-photo4:hover .memb-photo-hover4 {
	display: block;
}

.memb-photo-links {
	padding-top: 50%;
	margin-top: -40px;
	text-align: center;
}

.memb-photo-links img:hover {
	opacity: 0.5;
}

.memb-photo-links a img{
	padding: 5px;
}

.memb-txt {
	padding: 20px 0;
	text-align: center;
}

.memb-txt .fa-phone {
	margin-right: 5px;
}

.members-acc {
	padding-bottom: 90px;
}

.about-nav {
	padding: 25px 0;
}

.navigation-row {

}

.about-nav-left {
	min-height: 110px;
	line-height: 100px;
	font-size: 15px;
	font-weight: 600;
	padding-right: 0;
}

.about-nav-left ul {
	max-width: 810px;
}

.about-nav-right {
	padding: 8px 0;
}

.nav-right-cont {
	min-height: 94px;
	padding-left: 30px;
}

.nav-right-cont a{
	text-decoration: none;
}	

.about-nav-left img {
	float: right;
	height: 100%;
	width: 33px;
}

.about-nav-left li {
	float: left;
	padding-right: 20px;
}

.about-nav-left li i{
	padding-right: 1px;
}

.nav-right-cont i{
	padding: 0 8px;
}

.nav-right-cont a h6{
	line-height: 90px;
}

.nav-right-cont a:hover{
	text-decoration: none;
}

.about-nav-left .icon-ok-circle {
	padding-right: 3px;
}

.inl-flex {
	display: inline-flex;
}

.memb {
	padding-left: 18px;
}

.memb .member1, .memb .member2 {
	padding: 30px;
	padding-bottom: 20px;
}

.member-photo {
	position: relative;
	height: 111px;
	width: 70px;
	float: left;
}

.member-photo img {
	position: absolute;
	left: -50px;
}

.memb-main-content{

}

ul.raitings-stars {
	list-style-type: none;
}

ul.raitings-stars li{
	float: left;
}

.raitings p {
	line-height: 25px;
}

.margin0auto {
	margin: 0 auto;
}

.width20 {
	width: 20%;
}

.partners div {
	padding: 10px;
	float: left;
}

.partners img {
	width: 100%;
	height: auto;
}

.cont-gmaps {
	width: 100%;
	height: 520px;
}
.list-cont-gmaps {
	width: 100%;
	height: 200px;
}

.main-content-contucts h5 {
	font-size: 22px;
	background: url(../img/grey-line.png) left repeat-x;
}

.tbl-contact-txt .td1 {
	text-transform: uppercase;
	padding-right: 50px;
	float: left;
	font-weight: 700;
}

.tbl-contact-txt td{
	padding: 15px 0;
}

.tbl-contact-txt .td2 i{
	font-size: 15px;
	margin-left: 20px;
}


/* Pricing */
.pricing-main-block {
	max-width: 885px;
	margin: 0 auto;
	margin-top: 40px;
	padding-bottom: 40px;
}

.pricing-main-block .main-block {
	float: left;
	width: 300px;
	height: 590px;
	margin: 0 12px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.pricing-main-block .left-block, .pricing-main-block .right-block {
	float: left;
	width: 280px;
	height: 540px;
	margin-top: 45px;
	margin-bottom: 20px;
	text-align: center;
}

.pricing-main-block .left-block {
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}

.pricing-main-block .right-block {
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

.pricing-main-block .title {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
}

.price-tbl {
	margin-top: 10px;
	position: relative;
	padding: 5px 20px;
	font-weight: 700;
	font-size: 18px;
	display: inline-block;
}

.main-block .price-tbl {
	position: relative;
}

.per-month {
	padding-bottom: 20px;
	margin: 0 35px;
	margin-top: 30px;
}

.lh36 {
	line-height: 36px;
}

.pricing-main-block .button1-1 {
	float: none;
	margin-top: 20px;
}

.pict-data {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 30px;
	line-height: 40px;
	font-size: 12px;
	font-weight: 700;
}
.first-pict  {
	position: relative;
}
.first-pict img{
	width: 100%;
	height: auto;
}
.new-first-det a {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
}
.new-first-det li{
	float: left;
	margin-left: 20px;
}
.new-first-det li:first-child{
	margin-left: 0;
}
.new-first-det .fa {
	padding-right: 5px;
}
.blog-det-blockquote {
	max-width: 620px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.second-post img{
	padding-right: 25px;
	padding-bottom: 25px;
}
.new-details article{
	line-height: 24px;
}

/* Blog */
.blog-news-nav .blog-nav-el {
	float: left;
	padding: 5px 18px;
	font-size: 11px;
	font-weight: 700;
	margin-bottom: 7px;
}
.blog-comment-photo {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}
.blog-det-comment a{
	text-decoration: none;
	margin-left: 20px;
}

.blog-det-comment {
	padding-bottom: 40px;
}
.blog-det-comment:last-child {
	border-bottom: none;
}
.right-title {
	margin-top: 50px;
	font-size: 14px;
	font-weight: 700;
	padding: 0 20px;
	line-height: 60px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.right-title .fa{
	margin-right: 10px;
	font-size: 18px;
}
.nav-right-menu li{
	font-size: 13px;
	font-weight: 700;
	padding-left: 25px;
	line-height: 50px;
	text-align: left;
	margin-top: 5px;
	float: left;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.nav-right-menu li.high-item{
	padding: 14px 10px 15px 25px;
}
.nav-right-menu li{
	list-style-type: none;
}
.coupon {
	padding-bottom: 10px;
}
.coupon img{
	width: 100%;
	height: auto;
}
.coupon-img {
	position: relative;
	margin: 15px 0;
}
.coupon-img .off{
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 13px;
	font-weight: 600;
	line-height: 35px;
	padding: 0 25px;
}
.blog div.button2-1:hover{
	text-decoration: none;
}
.readmore-btn {
	float: left;
	padding: 0 20px;
	line-height: 45px;
	font-size: 11px;
	font-weight: 700;
}
.blog-pagination {
	float: left;
	margin-bottom: 40px;
}
.blog-pagination .pag-element {
	width: 50px;
	line-height: 32px;
	float: left;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}
.pag-element .fa {
	font-size: 14px;
}

.blog-reviews .item{  
	text-align: center;
}
.blog-reviews .carousel{
	margin-top: 20px;
}
.blog-reviews .carousel-indicators li {
	width: 25px;
	height: 4px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 3px;
}
.blog-reviews .carousel-indicators .active {
	width: 25px;
	height: 4px;
	margin: 3px;
}
.blog-reviews .carousel-indicators {
	bottom: -10px;
}
.container-fluid .listing-details-header {
	min-height: 570px;
	height: auto;
	background: #000 url(../media/backgrounds/listing-details-mainimg.jpg) center center no-repeat;
}
.valign-table {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.valign-table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	float: none;
}
.list-det-ico {
	margin-bottom: 20px;
}
.list-det-title {
	font-size: 38px;
	font-weight: 700;
}
.list-det-title  .raitings-stars li, .list-det-address i{
	width: 30px;
}
.list-det-title  .raitings-stars .fa{
	font-size: 23px;
}
.list-det-title  .raitings-stars li i, .list-det-address i{
	position: relative;
	height: 23px;
}
.list-det-title  .raitings-stars li i:before, .list-det-address i:before{
	position: absolute;
}
.list-det-title ul.raitings-stars {
	margin: 0;
}
.list-det-address .fa {
	font-size: 18px;
}
.list-det-address {
	font-size: 16px;
	font-weight: 600;
}
.list-det-address .fa-map-marker:before {
	line-height: 34px;
}
.list-det-address  i{
	width: 15px;
}
.list-det-left .new-first-det a{
	text-transform: none;
	font-size: 13px;
}
.list-det-left .new-first-det .fa{
	padding-right: 10px;
}
.list-det-left .new-first-det li{
	margin-top: 10px;
}
.listing-details-header .valign-table {
	padding-bottom: 25px;
}
.write-review {
	position: absolute; 
	right: 0; 
	bottom: 0;
	padding: 15px 20px;
}
.write-review .fa{
	padding-right: 10px;
}
.write-review a, .write-review:hover a{
	text-decoration: none!important;
}
.make-reservation {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	padding: 60px;
	min-height: 215px;
	margin-top: -25px;
}
.find-btn {
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 700;
	float: left;
	width: 100%;
	font-size: 14px;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}
.find-btn a, .find-btn:hover a{
	text-decoration: none;
}

.reservation-dropdowns .btn-group .dropdown-btn1-1 {
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
}
.reservation-dropdowns .btn-group-lg>.btn, .reservation-dropdowns .btn-lg {
	border-radius: 0;
}
.reservation-dropdowns .dropdown-btn-list{
	padding: 0 0 0 16px;
}
.reservation-dropdowns .fa{
	font-size: 14px;
	padding-right: 20px;
	line-height: 48px;
	position: absolute;
	right: 0;
}
.home-reservation .reservation-dropdowns .fa {
	position: absolute;
	right: 0;
	float: none;
	line-height: 58px;
}
.home-reservation2 .reservation-dropdowns .fa {
	position: absolute;
	right: 0;
	float: none;
}
.listing-details-header .p-relative{
	padding-right: 155px;
}
.listing-details-left .left-1-menu li{
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase
}
.listing-details-left .left-1-menu .fa{
	font-size: 18px;
	padding-right: 10px;
}
.opening-hours .td1 {
	padding-left: 20px;
	height: 70px;
	line-height: 70px;
	font-size: 13px;
	font-weight: 700;
	float: left;
}
.opening-hours .td2 {
	padding-left: 20px;
	font-size: 13px;
	height: 70px;
	line-height: 70px;
}
.sidebar-orange {
	margin-top: 50px;
	font-size: 14px;
	font-weight: 700;
	padding: 0 20px;
	line-height: 60px;
	text-transform: uppercase;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.sidebar-orange .fa {
	margin-right: 10px;
	font-size: 18px;
}
.listing-owner, .listing-owner img {
	text-align: center;
}
.listing-owner img {
	margin-top: 40px;
	margin-bottom: 20px;
}
.listing-owner .soc-icons img {
	width: 34px;
	height: 34px;
	float: left;
	margin: 10px 3px;
}
.soc-icons {
	float: none;
	margin: 0 auto;
	display: inline-block;
}
.disp-inl-bl {
	display: inline-block;
}

/* Calendar */
.cal-container .datepicker {
	padding: 0;
	width: 100%;
	text-transform: uppercase;
}
.cal-container .datepicker .table-condensed {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
.cal-container .datepicker-switch {
	font-size: 15px;
	font-weight: 700;
}
.cal-container .datepicker .dow {
	font-size: 10px;
	border-radius: 0;
}

.cal-container .datepicker .table-condensed td{
	border-radius: 0;
	font-weight: 600;
}
.calendar .right-title {
	margin-top: 0;
}
.cal-container .datepicker-switch {
	padding: 15px 0;
}

.cal-container .table-condensed>thead>tr>th, .cal-container .table-condensed>tbody>tr>td {
	padding: 5px 0;
}

.calendar {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.calendar .datepicker td, .calendar .datepicker th {
	webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.calendar .select-time {
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
}
.select-time-list {
	padding: 30px 0;
}
.select-time-list div{
	padding: 0 22px;
}
.select-time-list a{
	font-size: 13px;
	line-height: 26px;
}
.total-cost {
	text-align: center;
	font-size: 13px;
	line-height: 60px;
}
.images-gallery .f-right{
	width: 16.52%;
	text-align: right;
	line-height: 0;
}
.images-gallery .f-right .img {
	height: 31%;
	width: auto;
}
.images-gallery .f-right .img img {
	width: 90%;
	height: auto;
}
.images-gallery .ghost {
	height: 3.5%!important;
	width: 100%!important;
}
.spec-off .pict-data2 {
	position: absolute;
	padding: 0 30px;
	line-height: 40px;
	font-size: 12px;
	font-weight: 700;
	bottom: 0;
	left: 50%;
	margin-left: -25%;
}


.raiting-review .valign-table-cell{

}
.b-right-1 {
	border-style: solid;
	border-width: 1px;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}
.raiting-review .fa {
	font-size: 18px;
}
.raiting-review .r-review .valign-table-cell{
	padding-top: 15px;
	padding-bottom: 15px;
}
.raiting-review .col-sm-7  .r-review .valign-table-cell {
	padding-top: 25px;
	padding-bottom: 25px;
}
.lh-15-em {
	line-height: 1.5em;
}
.raiting-review-sort .dropdown-btn1 {
	background-image: none;
	padding: 0 20px 0 20px;
	border-radius: 0;
}
.raiting-review-sort .dropdown-menu{
	border-radius: 0;
}
.inline-block, .raiting-review-sort .inline-block {
	display: inline-block;
	float: none;
}
.comment-raiting div, .write-comment-raiting div{
	float: left;
	margin-left: 25px;
	line-height: 1.5em;
	margin-top: 20px;
	margin-bottom: 25px;
}
.write-comment-raiting div {
	line-height: 1em!important;
}
.comment-raiting div:first-child, .write-comment-raiting div:first-child{
	margin-left: 0;
}
.comment-raiting .rait-numb {
	line-height: 45px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
}
.comment-raiting ul {
	padding: 0;
}
.write-comment-raiting ul {
	margin-left: 0;
	margin-bottom: 0;
}
.write-comment-raiting div .fa{
	font-size: 18px;
	padding-right: 20px;
}
.raiting-review-sort td{
	vertical-align: top;
}
.member-prof .memb-photo:first-child img{
	width: 100%;
	height: auto;
}
.member-prof .memb-photo .memb-photo-links img{
	width: auto;
}
.l-h-1em {
	line-height: 1em;
}

.l-h-14 {
	line-height: 14px;
}
.l-h-22 {
	line-height: 22px;
}
.l-h-40 {
	line-height: 40px;
}
.l-h-50{
	line-height: 50px;
}

.write-comment-raiting li i, .write-comment-raiting i{
	position: relative;
	height: 11px;
}
.write-comment-raiting li i:before, .write-comment-raiting i:before{
	position: absolute;
}
.raiting-post {
	margin-left: 0!important;
}
.related-listings2 .memb-txt {
	text-align: left;
	padding: 30px;
	padding-bottom: 10px;
}
.business-services-header, .business-services-gmaps {
	height: 520px;
}
.listing-details-main {
	position: relative;
}
.listing-details-main .make-reservation {
	margin-top: -40px;
}
.additional-filter {
	padding: 40px;

}
.filter-slider .slider-horizontal {
	width: 100%!important;
}
.update-listings-btn {
	width: 100%;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	line-height: 46px;
	margin-top: 20px;
	display: inline-block;
}
.update-listings-btn a, .update-listings-btn a:hover a{
	text-decoration: none;
}
.listing-details-left .sidebar-orange {
	margin-top: 10px;
	padding-left: 25px;
	font-weight: 600;
}
.listing-details-left .sidebar-orange .fa{
	margin-right: 0;
}
.listing-details-left .sidebar-orange:hover {
	cursor: pointer;
}
.business-services-menu {
	-webkit-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0;
}
.listing-details-left .business-services .business-services-menu li{
	font-size: 12px;
	font-weight: 600;
	border: 0;
	line-height: 36px;
	padding-left: 30px;
}
.listing-details-left .business-services .active-business-item{
	font-weight: 700!important;
	line-height: 46px!important;
}
.listing-details-left .nav-right-menu li {
	margin-top: 10px;
}
.listing-details-left .nav-right-menu:first-child {
	margin-top: 0;
}
.business-services ul{
	margin-bottom: 0;
	padding: 30px 0;
}
.sorts-by-results {
	padding: 15px 20px;
}
.sorts-by-results .dropdown-btn-list {
	width: auto;
	line-height: 38px;
	height: 38px;
	padding: 0 12px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.sorts-by-results .dropdown-menu {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-weight: 600;
	font-size: 11px;
}
.sorts-by-results .disp-style{
	float: right;
	padding: 0 15px;
	line-height: 36px;
	font-size: 14px;
}
.sorts-by-results .disp-style:hover{
	cursor: pointer;
}
.right-banner {

}
.right-banner img{
	width: 100%;
	height: auto;
}
.bs-photo-img {
	width: 100%;
	height: auto;
}
.bs-element-container {
	padding-right: 20px;
	margin-top: 30px;
}
.iphone img{
	width: 100%;
	height: auto;
	max-width: 360px;
	padding-top: 60px;
}
.iphone2 {
	position: relative;
}
.iphone2 img{
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
}
.phone-features-icon {
	width: 60px;
	height: 60px;
	line-height: 65px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.phone-features-icon i{
	width: 18px;
	height: 22px;
}
.phone-features-icon .fa{
	padding: 0!important;
	font-size: 22px;
}
.phone-features-body {
	height: 600px;
	position: relative;
}
.phone-absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.phone-features {
	margin-bottom: 130px;
}
.results-container .readmore-btn {
	float: none;
	display:inline-block;
}
.results-container .memb-txt {
	text-align: left;
	padding-left: 10%;
	padding-bottom: 10%;
	min-height: 160px;
}
.lr-15 {
	margin-left: -15px;
	margin-right: -15px;
}
.featured:after {
	content: "featured";
	position: absolute;
	left: 50%;
	margin-left: -58px;
	top: 0;
	padding: 5px 30px;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}
.play-market {
	background: url(../media/backgrounds/pm-bg.jpg) top center no-repeat;
	background-size: cover;
	height: 480px;
}
.featured-collection {
	padding: 80px 0;
}
.featured-coll-body img{
	width: 100%;
	height: auto;
}
.fc-c-top {
	padding-bottom: 10px;
}
.fc-c-bottom {
	padding-top: 10px;
}
.fc-absolute {
	position: absolute;
	left: 15%;
	bottom: 8%;
}
.fc-absolute-c {
	position: absolute;
	left: 8%;
	bottom: 15%;
}
.home2-header {
	height: 650px;
}
.home2-header .make-reservation  .reservation-dropdowns .dropdown-btn1, .home2-header-container input.dropdown-btn-list.dropdown-btn1.dropdown-btn1-1.btn.btn-lg.dropdown-toggle{
	font-size: 13px;
	font-weight: 600!important;
}
.home2-header-container input.dropdown-btn-list.dropdown-btn1.dropdown-btn1-1.btn.btn-lg.dropdown-toggle:hover {
	cursor: text;
}
.home2-header .dropdown-btn-list {
	line-height: 58px;
	height: 58px;
}
.home2-header .find-btn {
	line-height: 58px;
	height: 58px;
}
.cat-header {
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.table-categories {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px 30px;
	margin-top: 20px;
}
.row-browse-categories .table-categories .fa{
	font-size: 18px;
	padding-right: 10px;
}
.row-browse-categories .table-categories td{
	padding: 4px 0;
}
.row-browse-categories .table-categories td .fa{
	font-size: 14px;
}
.table-cat-inf {
	width: 100%;
	margin: 15px 0;
}
.table-cat-inf .cat-td2{
	text-align: right;
}
.table-cat-inf a{
	text-align: left;
}
.table-categories a:hover,  .table-cat-inf tr:hover {
	font-weight: 700;
	text-decoration: none;
}
.row-explore-nerby .memb-photo-links .raitings-stars i.fa.fa-star{
	color: #eba100;
}

.members-acc .member-prof .memb-txt {
	text-align: left;
	padding-left: 20px;
	min-height: 200px;	
}
.row-explore-nerby .blog-reviews .carousel-indicators, .related-listings  {
	bottom: -10px;
}
.row-we-help {
	height: 280px;
}
.home-1-reserv-11 {
	display: inline-block;
	left: 0;
	right: 0;
	top: -100px;
}
.home-1-reserv {
	top: -100px;
}
.home-1-reserv .make-reservation {
	padding: 0 20px;
	min-height: 110px;
}
.home-1-reserv-row23 {
	width: 100%;
}
.br-by-ct .listing-details-left .col-sm-3{
	width: 25%;
	padding: 5px 10px;
}
.home1-featured-article  .memb-photo-links {
	margin-top: -60px;
}
.carousel-control {
	font-size: 40px;
	line-height: 650px;
}
.display-none {
	display: none;
}
.open-close-filter:hover {
	cursor: pointer;
}
.img-icons {
	display: inline-block;
	font-size: 15px;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 30px;
	margin-left: 10px;
	padding-left: 4px;
}
.img-icons-2 {
	display: inline-block;
	width: 32px;
	height: 32px;
	padding-left: 3px;
	line-height: 32px;
	font-size: 16px;
	text-align: center;
}
.footer-relative .right-footer2 a:hover {
	text-decoration: none!important;
}
.header-slider {
	height: 250px;
}
.sp-desc-container{
	color: #fff;
	height: 100%;
	left: 0;
	margin: auto;
	max-width: 1170px;
	padding: 0 15px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.sp-desc-container .sp-layer{
	width: 100%;
}
.additional-filter label {
	padding-left: 15px;
}

.bottom-80 {
	bottom: -80px!important;
}
.nav-right-menu li:hover{
	cursor: pointer;
}

.open-close-filter .fa {
	left: 0;
	font-size: 20px;
	color: #fff;
}


/* Loader */
.preloaderjs .spinner{
	display:none !important;
}
.preloaderjs#page-preloader{
	background:  rgba( 46, 46, 46, 0.99)  !important;
}
#page-preloader {
	position: fixed;
	z-index: 100500;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #555;
}
#page-preloader .spinner {
	position: absolute;
	z-index: 1001;
	top: 50%;
	left: 50%;
	display: block;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	-webkit-animation: spin 2.5s infinite linear;
	animation: spin 2.5s infinite linear;
	border: 3px solid transparent;
	border-radius: 50%;
}
#page-preloader .spinner:before, #page-preloader .spinner:after {
	position: absolute;
	content: '';
	border-radius: 50%;
}
#page-preloader .spinner:before {
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	border: 3px solid transparent;
}
#page-preloader .spinner:after {
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	border: 3px solid transparent;
	border-top-color: #fff;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	}
	@keyframes spin {
		0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Chosen */
.custom-select .chosen-container{
	height: 48px;
}
.custom-select .chosen-container-single .chosen-single,
.custom-select .chosen-container-active.chosen-with-drop .chosen-single{
	background: #fff;
	border: 1px solid #ccc;
	height: 100%;
	padding: 0 0 0 16px;
	width: 100%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.custom-select .chosen-container-single .chosen-single span{
	color: #777;
	font-size: 13px;
	margin: 10px 50px 0 0;
}
.custom-select .chosen-container-single .chosen-single div{
	width: 48px;
}
.custom-select.select-type1 .chosen-container-single .chosen-single div,
.custom-select.select-type1 .chosen-container-active.chosen-with-drop .chosen-single div{
	border-left: 1px solid #ccc;
}
.custom-select.select-type1 .chosen-container-single .chosen-single div b{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #838383;
	bottom: 0;
	content: "";
	height: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
}
.custom-select.select-type1 .chosen-container-single .chosen-single div b:before{
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #fff;
	content: "";
	height: 0;
	left: -7px;
	position: absolute;
	top: -9px;
	width: 0;
}
.custom-select.select-type2 .chosen-container-single .chosen-single div b{
	background: #f3f3f3 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 26px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 26px;
}
.custom-select.select-type2 .chosen-container-single .chosen-single div b:before{
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #838383;
	content: "";
	height: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 10px;
	width: 0;
}
.custom-select.select-type2 .chosen-container-single .chosen-single div b:after{
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #f3f3f3;
	content: "";
	height: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 8px;
	width: 0;
}
.custom-select.select-type3 .chosen-container-single .chosen-single div b{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 16px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 26px;
}
.custom-select.select-type3 .chosen-container-single .chosen-single div b:before{
	border-bottom: 6px solid;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	height: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
}
.custom-select.select-type3 .chosen-container-single .chosen-single div b:after{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid;
	bottom: 0;
	content: "";
	height: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 0;
}
.custom-select .chosen-container-single .chosen-drop{
	background: #fff;
}
.custom-select .chosen-container-single.chosen-container-active .chosen-drop{
	border: 1px solid #ccc;
	margin-top: 1px;
}
.custom-select .chosen-container .chosen-results li.active-result{
	color: #777;
	font-size: 13px;
	padding: 5px 16px;
}
.custom-select .chosen-container .chosen-results li.result-selected,
.custom-select .chosen-container .chosen-results li.highlighted{
	background: #efefef;
}

.custom-select.select-type4.high .chosen-container{
	height: 58px;
}
.custom-select.select-type4.high .chosen-container-single .chosen-single{
	padding-top: 6px;
}
.custom-select.select-type4.high .chosen-container-single .chosen-single div b:before{
	top: 17px;
}
.custom-select.select-type4 .chosen-container-single .chosen-single{
	border-color: #ccc;
	border-style: none none none solid;
	border-width: 0 0 0 1px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.custom-select.select-type4 .chosen-container-single .chosen-single div,
.custom-select.select-type4 .chosen-container-active.chosen-with-drop .chosen-single div{
	border: 0 none;
}
.custom-select.select-type4 .chosen-container-single .chosen-single div b{
	background: none;
}
.custom-select.select-type4 .chosen-container-single .chosen-single div b:before{
	color: #ccc;
	font-family: "FontAwesome";
	font-size: 14px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 12px;
}
.custom-select.select-type4.location .chosen-container-single .chosen-single div b:before{
	content: "\f041";
}
.custom-select.select-type4.category .chosen-container-single .chosen-single div b:before{
	content: "\f107";
}

.business-services-header{
    position: relative;
    overflow: hidden;
}
.business-services-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
    content: '';
}

.business-services-hider:before{
     z-index: -1;
}
