
/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .container-main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.sidebar {
    max-width: 220px
}
/* Icons */
.menu-icon {
    font-size: 20px;
}

/* Add gap to nav and right windows.*/
/*.container-main{
    padding: 10px 10px 0 10px;
}*/

/* Colors */
.navbar-m2p {
    background-color: transparent;
 }
.navbar-m2p span, .navbar-m2p a {
    color: #333; border-bottom: dashed 0.2px #999 ;

}
.active .dropdown-toggle {
    background-color: rgba(126, 169, 39, 0.3);
    border-color: rgba(126, 169, 39, 0.3);
}
.nav .open > a {
    background-color: rgba(126, 169, 39, 0.3);
    border-color: rgba(126, 169, 39, 0.3);
}
.nav li > a:hover, .nav .open > a:hover,
.nav li > a:focus, .nav .open > a:focus,
.nav li > a:active, .nav .open > a:active {
    background-color: #f8f8f8;
}
.nav .open ul > li {
    background-color: rgba(126, 169, 39, 0.4)
}
.navbar-m2p .navbar-nav .open .dropdown-menu>li>a {
    color: #FFFFFF;
    padding: 10px;
}
/* borda menu active */
.navbar-m2p .navbar-nav .active a {
    margin-left: -1px;
    border-left: 5px solid #7ea927;
}
/* Hamburger */
.navbar-toggle {
    background-color: transparent;
    border: 1px solid rgba(126, 169, 39, 0.4);
}
.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar + .icon-bar {
    background-color: #7ea927;
}

nav:hover .forAnimate{
    opacity: 1;
}

.navbar-m2p .dropdown-menu {
    padding: 0px;
}

.nav li.separator {
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 39, 0.2);
    color: rgba(208, 208, 207, 0.4);
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .container-main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .container-main{
        margin-left: 300px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        font-size: 25px;
        line-height: 27px;
    }

    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
        width: 300px;
        height: 100%;
        margin-left: -260px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .container-main{
        width: calc(100% - 300px); /*keeps 100% minus nav size*/
        margin-left: 300px;
    }

    /*Show all nav*/
    nav.sidebar{
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

.col-lg-2{
    padding:5px;max-width: 140px;
}

.btn-red {
    color: #f8f8f8;
    background-color: #F34235;
    border-color: #c3352b;
}
.btn-red:hover {
    color: #fff;
    background-color: #c3352b;
    border-color: #c3352b;
}
.btn-lred {
    color: #F34235;
    background-color: transparent;
    border-color: #F34235;
}
.btn-lred:hover {
    color: #fff;
    background-color: #F34235;
    border-color: #F34235;
}


.btn-pink {
    color: #f8f8f8;
    background-color: #E81D62;
    border-color: #c51954;
}
.btn-pink:hover {
    color: #fff;
    background-color: #c51954;
    border-color: #c51954;
}
.btn-lpink {
    color: #E81D62;
    background-color: transparent;
    border-color: #c51954;
}
.btn-lpink:hover {
    color: #fff;
    background-color: #E81D62;
    border-color: #E81D62;
}


.btn-purple {
    color: #f8f8f8;
    background-color: #9B26AF;
    border-color: #89219b;
}
.btn-purple:hover {
    color: #fff;
    background-color: #89219b;
    border-color: #89219b;
}
.btn-lpurple {
    color: #9B26AF;
    background-color: transparent;
    border-color: #9B26AF;
}
.btn-lpurple:hover {
    color: #fff;
    background-color: #9B26AF;
    border-color: #9B26AF;
}


.btn-deep-purple {
    color: #f8f8f8;
    background-color: #6639B6;
    border-color: #5e35a8;
}
.btn-deep-purple:hover {
    color: #fff;
    background-color: #5e35a8;
    border-color: #5e35a8;
}
.btn-ldeep-purple {
    color: #6639B6;
    background-color: transparent;
    border-color: #6639B6;
}
.btn-ldeep-purple:hover {
    color: #fff;
    background-color: #6639B6;
    border-color: #6639B6;
}


.btn-indigo {
    color: #f8f8f8;
    background-color: #3E50B4;
    border-color: #3949a2;
}
.btn-indigo:hover {
    color: #fff;
    background-color: #3949a2;
    border-color: #3949a2;
}
.btn-lindigo {
    color: #3E50B4;
    background-color: transparent;
    border-color: #3E50B4;
}
.btn-lindigo:hover {
    color: #fff;
    background-color: #3E50B4;
    border-color: #3E50B4;
}


.btn-blue {
    color: #f8f8f8;
    background-color: #2095F2;
    border-color: #1a80d1;
}
.btn-blue:hover {
    color: #fff;
    background-color: #1a80d1;
    border-color: #1a80d1;
}
.btn-lblue {
    color: #2095F2;
    background-color: transparent;
    border-color: #2095F2;
}
.btn-lblue:hover {
    color: #fff;
    background-color: #2095F2;
    border-color: #2095F2;
}


.btn-light-blue {
    color: #f8f8f8;
    background-color: #02A8F3;
    border-color: #0396d8;
}
.btn-light-blue:hover {
    color: #fff;
    background-color: #0396d8;
    border-color: #0396d8;
}
.btn-llight-blue {
    color: #02A8F3;
    background-color: transparent;
    border-color: #02A8F3;
}
.btn-llight-blue:hover {
    color: #fff;
    background-color: #02A8F3;
    border-color: #02A8F3;
}


.btn-cyan {
    color: #f8f8f8;
    background-color: #00BBD3;
    border-color: #009fb3;
}
.btn-cyan:hover {
    color: #fff;
    background-color: #009fb3;
    border-color: #009fb3;
}
.btn-lcyan {
    color: #00BBD3;
    background-color: transparent;
    border-color: #00BBD3;
}
.btn-lcyan:hover {
    color: #fff;
    background-color: #00BBD3;
    border-color: #00BBD3;
}


.btn-teal {
    color: #f8f8f8;
    background-color: #009587;
    border-color: #018175;
}
.btn-teal:hover {
    color: #fff;
    background-color: #018175;
    border-color: #018175;
}
.btn-lteal {
    color: #009587;
    background-color: transparent;
    border-color: #009587;
}
.btn-lteal:hover {
    color: #fff;
    background-color: #009587;
    border-color: #009587;
}


.btn-green {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
}
.btn-green:hover {
    color: #fff;
    background-color: #449d47;
    border-color: #449d47;
}
.btn-lgreen {
    color: #4BAE4F;
    background-color: transparent;
    border-color: #4BAE4F;
}
.btn-lgreen:hover {
    color: #fff;
    background-color: #4BAE4F;
    border-color: #4BAE4F;
}



.btn-light-green {
    color: #f8f8f8;
    background-color: #8AC249;
    border-color: #78a83f;
}
.btn-light-green:hover {
    color: #fff;
    background-color: #78a83f;
    border-color: #78a83f;
}
.btn-llight-green {
    color: #8AC249;
    background-color: transparent;
    border-color: #8AC249;
}
.btn-llight-green:hover {
    color: #fff;
    background-color: #8AC249;
    border-color: #8AC249;
}


.btn-lime {
    color: #f8f8f8;
    background-color: #CCDB38;
    border-color: #bbc933;
}
.btn-lime:hover {
    color: #fff;
    background-color: #bbc933;
    border-color: #bbc933;
}
.btn-llime {
    color: #CCDB38;
    background-color: transparent;
    border-color: #CCDB38;
}
.btn-llime:hover {
    color: #fff;
    background-color: #CCDB38;
    border-color: #CCDB38;
}


.btn-yellow {
    color: #f8f8f8;
    background-color: #FEEA3A;
    border-color: #e4d235;
}
.btn-yellow:hover {
    color: #fff;
    background-color: #e4d235;
    border-color: #e4d235;
}
.btn-lyellow {
    color: #FEEA3A;
    background-color: transparent;
    border-color: #FEEA3A;
}
.btn-lyellow:hover {
    color: #fff;
    background-color: #FEEA3A;
    border-color: #FEEA3A;
}


.btn-amber {
    color: #f8f8f8;
    background-color: #FEC006;
    border-color: #e1aa05;
}
.btn-amber:hover {
    color: #fff;
    background-color: #e1aa05;
    border-color: #e1aa05;
}
.btn-lamber {
    color: #FEC006;
    background-color: transparent;
    border-color: #FEC006;
}
.btn-lamber:hover {
    color: #fff;
    background-color: #FEC006;
    border-color: #FEC006;
}